@theme {
  /* Typography */
  --font-sans: "Geist Mono", system-ui, -apple-system, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
}

.root {
  isolation: isolate;
}
