@import "../../styles/globals.css";

section.testpath {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testpath_bttn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--md-primary);
  color: var(--md-on-primary);
  border-radius: var(--space-3);
}

button.testpath_bttn img {
  width: 32px;
  height: auto;
}
